.section__about {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 110px);
    /* background-color: rgb(21, 116, 199); */
    padding-bottom: 15px;
}

.about__text {
    display: flex;
    flex-direction: column;
    /* width: 60vw; */
    justify-content: center;
}

.about__header {
    margin-bottom: 60px;
}

.about__description {
    width: 40vw;
    text-align: justify;
}

.about__photo {
    width: 30vw;
    height: auto;
    display: flex;
}

.about__photo__img {
    width: 30vw;
    height: auto;
}

@media screen and (max-width: 767px) {
    .about__description {
        width: 50vw;
    }
}

@media screen and (max-width: 670px) {
    .about__header {
        text-align: center;
    }

    .about__description {
        width: 100%;
    }

    .about__photo {
        display: none;
    }
}