.header {
    height: 80px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.logo__link {
    display: flex;
    align-items: center;
    border: 4px solid #8B7AA8;
    border-radius: 10px;
    padding: 5px;
}

.main-letter {
    font-size: 46px;
}

.nav__menu {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__item {
    display: flex;
    justify-content: center;
    min-width: 105px;
    padding: 10px;
}

.nav__item:hover {
    cursor: pointer;
    color: #8B7AA8;
    border: 4px solid #8B7AA8;
    border-radius: 10px;
}