.header {
    height: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    /* background-color: rgb(43, 70, 192); */
}

.logo__link {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    color: #8B7AA8;
}

.main-letter {
    font-size: 46px;
    color: #8B7AA8;

}

.burger__menu {
    display: none;
}

.nav__menu {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__item {
    display: flex;
    justify-content: center;
    min-width: 105px;
    padding: 10px;
}

.nav__item:hover {
    cursor: pointer;
    color: #8B7AA8;
    border: 4px solid #8B7AA8;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {

    .burger__menu {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
    }

    .menu__item {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: #8B7AA8;
        top: 19px;
    }

    .burger__menu::before {
        top: 0;
    }

    .burger__menu::after {
        bottom: 0;
    }

    .burger__menu::before,
    .burger__menu::after {
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #8B7AA8;
    }

    .nav__menu {
        display: none; /*burger */
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        background-color: #5c5863;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav__item {
        display: flex;
        justify-content: center;
        min-width: 105px;
        padding: 10px;
    }
}